* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #fff;
    font: normal 12px/22px ו;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.picScroll-left {
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.picScroll-left .hd {
    overflow: hidden;
    height: 30px;
    background: #f4f4f4;
    padding: 0 10px;
}

.picScroll-left .hd .prev, .picScroll-left .hd .next {
    display: block;
    width: 5px;
    height: 9px;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    background: url(../../img/SuperSlide/arrow.png) 0 0 no-repeat;
}

.picScroll-left .hd .next {
    background-position: 0 -50px;
}

.picScroll-left .hd ul {
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
}

.picScroll-left .hd ul li {
    float: left;
    width: 9px;
    height: 9px;
    overflow: hidden;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    background: url(../../img/SuperSlide/icoCircle.gif) 0 -9px no-repeat;
}

.picScroll-left .hd ul li.on {
    background-position: 0 0;
}

.picScroll-left .bd {
    padding: 10px;
}

.picScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}

.picScroll-left .bd ul li {
    margin: 0 8px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}

.picScroll-left .bd ul li .pic {
    text-align: center;
}

.picScroll-left .bd ul li .pic img {
    width: 120px;
    height: 90px;
    display: block;
    padding: 2px;
    border: 1px solid #ccc;
}

.picScroll-left .bd ul li .pic a:hover img {
    border-color: #999;
}

.picScroll-left .bd ul li .title {
    line-height: 24px;
}