* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #fff;
    font: normal 12px/22px ו;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #1974A1;
}

.txtScroll-left {
    position: relative;
    border: 1px solid #ccc;
}

.txtScroll-left .hd {
    overflow: hidden;
    height: 30px;
    background: #f4f4f4;
    padding: 0 10px;
}

.txtScroll-left .hd .prev, .txtScroll-left .hd .next {
    display: block;
    width: 5px;
    height: 9px;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    background: url(../../img/SuperSlide/arrow.png) no-repeat;
}

.txtScroll-left .hd .next {
    background-position: 0 -50px;
}

.txtScroll-left .hd ul {
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
}

.txtScroll-left .hd ul li {
    float: left;
    width: 9px;
    height: 9px;
    overflow: hidden;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    background: url(../../img/SuperSlide/icoCircle.gif) 0 -9px no-repeat;
}

.txtScroll-left .hd ul li.on {
    background-position: 0 0;
}

.txtScroll-left .bd {
    padding: 10px;
    width: 430px;
    overflow: hidden;
}

.txtScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}

.txtScroll-left .bd ul li {
    margin-right: 20px;
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: left;
    _display: inline;
}

.txtScroll-left .bd ul li span {
    color: #999;
}